.modal-wrapper {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: #f4f4f4;
  margin: 20% auto;
  padding: 30px;
  width: 70%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px rgba(0, 0, 0, 0.2);
  display: grid;
}

.modal-module-wrapper {
  padding: 10px;
  border-bottom: 1px solid blue;
}

.weight-wrapper {
  margin-bottom: 50px;
}

.modal-title {
  font-weight: bold;
  text-shadow: 1px 1px 1px gray;
}

.closeBtn {
  color: black;
  /* float: right; */
  justify-self: end;
  font-size: 30px;
}

.closeBtn:hover,
.closeBtn:focus {
  color: rgb(148, 71, 71);
  text-decoration: none;
  cursor: pointer;
}

.start-task-btn {
  margin-right: 0;
  padding: 5px;
  color: black;
  font-size: 15px;
  background: rgba(0, 0, 0, 0.66);
  border: 2px gray outset;
  outline: gray outset;
  color: #d6d8c8;
  text-shadow: 2px 2px 3px black;
  font-family: monospace;
}
